
<section class="container mb-5">

    <h1 class="text-center mb-5 mt-4" style="color: #e34822;">Contactame</h1>
    <form class="fromCont" action="">
        <div class="row d-flex justify-content-between">
            <div class="mb-3 col-6">
                <label for="exampleInputEmail1" style="color: #e34822;" class="form-label fs-4 fw-bold">Correo</label>
                <input type="email"  placeholder="Correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Asegurese de escribir correctamente su correo.</div>
            </div>

            <div class="mb-3 col-6">
                <label for="exampleInputEmail1" style="color: #e34822;" class="form-label fs-4 fw-bold">Asunto</label>
                <input type="email"  placeholder="Asunto" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Escribe un asunto.</div>
            </div>
        </div>
        <textarea class="form-control col-sm-12 " placeholder="¡Escribe el mensaje acá!" id="txt-area" cols="30"></textarea>
        
        <div class="col-12 text-center mt-4 ">
            <a href="" class="col-6 btn btn-danger">Enviar mensaje</a>
        </div>
    </form>

</section>
