<div class="container mb-4" style="color: #e34822;">
    <h2 class="text-center fs-1"><b>¿Como se ve nuestras instalaciones?</b></h2>
    <h3 class="text-center mb-5">Enterate aqui!</h3>
    <div class="col-12 embed-responsive embed-responsive-21by9 shadow" style="border-radius: 20px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r-W6hA_NUVs?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
