<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-light">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1" style="color: #e34822;">Centro odontologico SMILING</h1>
            <p class="fs-4 text-justify" style="color: #0f6373;">Presentamos una alternativa diferente en servicios de odontología general y especializada integral, apoyados en un equipo humano de profesionales altamente calificados, con una excelente y amplia experiencia académica y clínica fundamentada en una formación ética y vocación de servicio, con una visión moderna y tecnológica de última generación.
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 position-relative overflow-hidden shadow-lg">
          <div class="position-lg-absolute top-0 left-0 overflow-hidden">
            <img class="d-block rounded-3" src="../../../assets/img/undraw_medicine_b1ol2.svg" alt="imagen" width="720" height="385">
          </div>
        </div>
      </div>
</div>