<div class="container py-5 my-5">
    <div class="row ">
        <!-- link card 1 -->
        <div class="col-12 col-md-6 d-flex justify-content-around">
            <div class="card mb-3 shadow" style="max-width: 540px; border-radius: 20px;">
                <div class="row g-0">
                    <div class="col-md-8 px-2 py-4">
                        <div class="card-body fs-4" style="color: #0f6373;">
                            <h5 class="card-title fw-bold fs-5" style="color: #e34822;">NOSOTROS</h5>
                            <h4 class="card-text">Bienvenido a SMILING, tu centro odontologico. Te invitamos a conocer un poco mas de nosotros.</h4>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center">
                        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#E34822" d="M46.8,-32.2C60.8,-19.8,72.4,-0.3,70.9,20.3C69.5,40.9,55.1,62.7,34,74.3C12.9,85.9,-14.9,87.3,-32.2,75.6C-49.5,63.9,-56.2,39.1,-60.9,15C-65.5,-9.2,-68.1,-32.8,-57.6,-44.4C-47.1,-56,-23.6,-55.5,-3.6,-52.7C16.4,-49.8,32.8,-44.5,46.8,-32.2Z" transform="translate(100 100)" />
                        </svg>
                        <a routerLink="/nosotros" class="fs-1 mt-3 text-light position-absolute start-50"><i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- final link card 1 -->
        <!-- link card 2 -->
        <div class="col-12 col-md-6 d-flex justify-content-around">
            <div class="card mb-3 shadow" style="max-width: 540px; border-radius: 20px;">
                <div class="row g-0">
                    <div class="col-md-8 px-2 py-4">
                        <div class="card-body fs-4" style="color: #0f6373;">
                            <h5 class="card-title fw-bold" style="color: #e34822;">EXPERIENCIA Y CALIDAD</h5>
                            <h4 class="card-text">manejamos toda la odontología bajo la ciencia y sociedades científicas reconocidas.</h4>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="../../../assets/img/logo-1605.svg" width="300" height="300" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div><!-- final link card 2 -->
    </div>
</div>

