<div class="col-12" style="/*background-image: url('../../../assets/img/slanted-gradient-1.svg'); background-repeat: no-repeat; background-size: cover;*/">
    <div class="container pb-5 bg-light">
        <div class="col-12">
            <div class="row">
                <div class="col-4 pt-5">
                    <div class="col-12 px-5" style="border-left: 5px solid #158ea4;">
                        <h1 class="text-start fw-bold " style="color: #e34822;">Centro odontologico</h1>
                        <h4 class="text-start mt-5" style="color: #0f6373;">Nuestra misión es hacer de la odontología especializada una experiencia placentera y de primera calidad.</h4>
                    </div>
                    <div class="col-12 px-5">
                        <a class="btn mt-5 rounded-pill text-light fs-5 fw-bold" style="background-color: #158ea4;">Conocer más</a>
                    </div>
                </div>
                
                <div class="col-8">
                    <img src="../../../assets/img/doctor-3.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>